[Unit]
Description=Intranet for MegaMaxCorpInc

[Service]
Type=simple
ExecStart=DEBUG=intranet:* cd /srv/intranet && /usr/bin/npm start

[Install]
WantedBy=multi-user.target