[Unit]
Description=Socketreader for hackerman

[Service]
Type=forking
ExecStart=/bin/bash /srv/hackerman/socketreader

[Install]
WantedBy=multi-user.target