[Unit]
Description=Intranet for MegaMaxCorpInc

[Service]
Type=forking
ExecStart=/usr/bin/node /srv/intranet/app.js

[Install]
WantedBy=multi-user.target